/*
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('Noto Sans Thin'), local('Noto Sans Thin');
    src: url(''../libs/fonts/NotoSansKR-Thin-subset.otf'');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('Noto Sans Light'), local('Noto Sans Light');
    src: url('../libs/fonts/NotoSansKR-Light-subset.otf');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Regular'), local('Noto Sans Regular'), local('Noto Sans Regular');
    src: url('../libs/fonts/NotoSansKR-Regular-subset.otf');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Medium'), local('Noto Sans Medium'), local('Noto Sans Medium');
    src: url('../libs/fonts/NotoSansKR-Medium-subset.otf');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Bold'), local('Noto Sans Bold'), local('Noto Sans Bold');
    src: url('../libs/fonts/NotoSansKR-Bold-subset.otf');
}



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


html, body {
    background-color: #FFF;
    font-size: 1em;
    line-height: 150%;
    font-family: 'Noto Sans', sans-serif;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

body {
    margin: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
body:after { content:""; display: block; clear:both; }

::-moz-selection {
    background: #607D8B;
    text-shadow: none;
}

::selection {
    background: #607D8B;
    text-shadow: none;
}

p {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
.indent p+p {
    text-indent: 2em;
    margin-top: -1em;
}

strong  {   font-weight: 700;  }
em      {   font-style: italic; }

span {
    display: block;
}

code,
pre     {   font-family: monospace, serif;
    font-size: 1em; }

h1 {
    line-height: 3rem;
    margin-top: 0.75rem;
    margin-bottom: calc(1.5rem - 0.25rem);
}

h2 {
    line-height: 3rem;
    margin-top: 1.25rem;
    margin-bottom: calc(0.75rem - 0.25rem);
}

h3 {
    font-size: 1.25em;
    line-height: 2.25rem;
    margin-top: 0.75rem;
    margin-bottom: calc(0.75rem - 0.25rem);
}

h4 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.75rem;
}

h5 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

h6 {
    display: inline-block;
    float: left;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
}
h6:after {
    content: " :";
    margin-right: 0.75rem;
}

blockquote {
    display: block;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 1.5rem;
    border-left: 7px solid #ccc;
    background: #f9f9f9;

    quotes: "\201C""\201D""\2018""\2019";

    margin-left: calc(1.5rem - 7px);
    margin-right: 0;
    padding: 0.75rem 1rem 0.75rem 1.3rem;
}
blockquote p {
    display: inline;
}
*/