@font-main: 'Nanum Gothic', 'Apple SD Neo Gothic', sans-serif;
@font-logo: 'Source Sans Pro', sans-serif;

@color-teal-50: #E0F2F1;
@color-teal-100: #B2DFDB;
@color-teal-200: #80CBC4;
@color-teal-300: #4DB6AC;
@color-teal-400: #26A69A;
@color-teal-500: #009688;
@color-teal-600: #00897B;
@color-teal-700: #00796B;
@color-teal-800: #00695C;
@color-teal-900: #004D40;

@color-grey-50: #FAFAFA;
@color-grey-100: #F5F5F5;
@color-grey-200: #EEEEEE;
@color-grey-300: #E0E0E0;
@color-grey-400: #BDBDBD;
@color-grey-500: #9E9E9E;
@color-grey-600: #757575;
@color-grey-700: #616161;
@color-grey-800: #424242;
@color-grey-850: #222222;
@color-grey-900: #212121;

@color-red-300: #E57373;
@color-red-500: #F44336;
@color-red-700: #D32F2F;

@directory-view-width: 230px;
@memo-view-width: 270px;



html, body {
    height: 100%;
    background-color: @color-grey-100;
    font-size: 0.875em;
    line-height: 180%;
    font-family: @font-main;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    margin: 0;
}

#app {
    width: 100%;
    height: 100%;
}

#app-inner {
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    #header {
        width: 100%;
        position: relative;
        height: 50px;
        background-color: @color-grey-850;

        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-justify-content: space-between;
        justify-content: space-between;


        .header-left {
            height: 50px;
            float: left;

            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;

            margin-right: 6rem;

            #logo-icon {
                display: inline-block;

                width: 65px;
                height: 50px;

                background-color: @color-teal-500;
                border-right: 2px solid @color-grey-850;

                color: @color-grey-50;

                padding: 5px 0;
                cursor: pointer;

                img {
                    color: @color-grey-50;
                    width: 65px;
                    height: 40px;
                }

                woll-change: background-color;

                -webkit-transition: background-color .5s, ease;
                -moz-transition: background-color .5s, ease;
                -ms-transition: background-color .5s, ease;
                -o-transition: background-color .5s, ease;
                transition: background-color .5s, ease;
                
                &:hover {
                    background-color: @color-teal-300;
                }
            }

            #logo {
                display: inline-block;

                height: inherit;
                line-height: 50px;

                padding: 0 3rem;

                font-family: @font-logo;
                font-size: 2em;
                color: @color-grey-50;
                text-decoration: none;

                background-color: @color-teal-500;
            }
        }

        .header-right {
            height: inherit;
            line-height: 50px;
            float: right;

            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;

            margin-left: 6rem;

            .header-menu {
                margin: 0;
                padding: 0 1.5rem;
                width: 100%;
                height: inherit;
                border: none;
                outline: none;

                background-color: @color-teal-500;
                color: @color-grey-50;

                cursor: pointer;

                will-change: all;

                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
                -ms-transition: all .5s ease;
                -o-transition: all .5s ease;
                transition: all .5s ease;

                &:hover { background-color: @color-teal-300; }
            }

            #exporter {
                padding: 0;
                height: inherit;

                border-right: 2px solid @color-grey-850;
            }

            #memo-searcher {
                padding: 0;
                height: inherit;

                border-right: 2px solid @color-grey-850;

                .inputer {
                    width: 280px;
                    height: inherit;
                    background-color: @color-teal-500;

                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;

                    input {
                        width: 230px;
                        display: inline-block;
                        resize: none;
                        border: none;
                        padding: 0;
                        outline: none;
                        color: @color-grey-200;

                        font-size: 1.171em;
                        font-weight: 100;

                        padding: 0 1.25rem;

                        line-height: inherit;

                        overflow-x: scroll;

                        background-color: transparent;

                        &::-webkit-input-placeholder {
                            color: @color-teal-700;
                        }

                        &:-moz-placeholder { /* Firefox 18- */
                            color: @color-teal-700;
                        }

                        &::-moz-placeholder {  /* Firefox 19+ */
                            color: @color-teal-700;
                        }

                        &:-ms-input-placeholder {
                            color: @color-teal-700;
                        }
                    }

                    button {
                        width: 50px;
                        padding: 0;
                        border: 0;
                        outline: 0;

                        background-color: transparent;
                        color: @color-grey-50;

                        cursor: pointer;

                        will-change: color;

                        -webkit-transition: color .5s ease;
                        -moz-transition: color .5s ease;
                        -ms-transition: color .5s ease;
                        -o-transition: color .5s ease;
                        transition: color .5s ease;

                        &:hover { color: @color-grey-300; }
                    }
                }
            }

            .account {
                height: inherit;

                padding: 0;
                margin: 0;
                outline: 0;
                border: 0;

                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;

                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -moz-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;

                will-change: background-color, border;

                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;


                :hover { background-color: @color-red-300; }

                button {
                    min-width: 107px;
                    display: inline-block;
                    height: inherit;
                    outline: none;
                    border: none;
                    margin: 0;
                    background-color: @color-red-500;
                    color: @color-grey-50;

                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;

                    cursor: pointer;


                    i {
                        line-height: 1.71428571rem;
                        vertical-align: bottom;

                        padding: 0 .5rem;
                        border-right: 1px solid @color-grey-50;
                    }

                    span {
                        display: inline-block;
                        font-size: 1rem;
                        line-height: 1.71428571rem;

                        padding: 0 1rem;
                    }
                }
            }
        }

        #note-loader {
            width: 100%;
            height: 5px;

            display: none;

            position: absolute;
            bottom: -5px;
            left: 0;

            background-color: #FFEB3B;
        }
    }

    #main {
        position: relative;

        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        flex: 1;

        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -ms-flex-line-pack: stretch;
        -webkit-align-content: stretch;
        align-items: stretch;

        overflow: visible;


        #aside {
            position: absolute;
            height: 100%;

            left: 0;
            top: 0;

            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;

            border-right: 1px solid @color-grey-400;

            will-change: all;

            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;

            #directory-viewer {
                width: @directory-view-width;

                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;

                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                -moz-box-orient: vertical;
                -moz-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                background-color: @color-grey-200;

                border-right: 1px solid @color-grey-400;

                .header {
                    display: inline-block;
                    padding: .75rem 1rem;
                    font-size: 1.3em;
                    font-weight: 100;
                    text-align: center;
                    border-bottom: 1px solid @color-grey-400;
                    background-color: @color-grey-300;
                }
            }

            #memo-viewer {
                width: @memo-view-width;

                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;

                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                -moz-box-orient: vertical;
                -moz-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                background-color: @color-grey-300;

                .header {
                    display: inline-block;
                    padding: .75rem 1rem;
                    font-size: 1.3em;
                    font-weight: 100;
                    text-align: center;
                    border-bottom: 1px solid @color-grey-400;
                }

                .content {
                    padding: 1rem;

                    -webkit-box-flex: 1;
                    -webkit-flex: 1;
                    -moz-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;

                    background-color: @color-grey-200;

                    .memo-viewer-item {
                        background-color: @color-grey-100;
                        border: 1px solid @color-grey-300;
                        color: @color-grey-800;

                        padding: .75rem;
                        margin-bottom: 1rem;

                        .title {
                            display: block;
                            font-size: 1.5em;
                            padding: .75rem 0;
                        }

                        .btn_delete {
                            float: right;
                            background-color: transparent;
                            border: none;

                            outline: none;
                            cursor: pointer;
                            padding: 0;

                            color: @color-grey-600;

                            :hover {
                                background-color: @color-grey-300;
                            }

                            i {
                                padding: .5rem;
                                border-radius: 3rem;
                                font-size: 1.8em;

                                will-change: background-color;

                                -webkit-transition: background-color .3s ease;
                                -moz-transition: background-color .3s ease;
                                -ms-transition: background-color .3s ease;
                                -o-transition: background-color .3s ease;
                                transition: background-color .3s ease;
                            }
                        }

                        &:after {
                            content: "";
                            display: block;
                            clear: both;
                        }
                    }
                }

            }
        }
        #aside.hide {
            -webkit-transform: translateX(-(@memo-view-width + @directory-view-width + 2));
            -moz-transform: translateX(-(@memo-view-width + @directory-view-width + 2));
            -ms-transform: translateX(-(@memo-view-width + @directory-view-width + 2));
            -o-transform: translateX(-(@memo-view-width + @directory-view-width + 2));
            transform: translateX(-(@memo-view-width + @directory-view-width + 2));
        }

        #section {
            position: absolute;
            height: 100%;

            left: 502px;
            top: 0;

            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -moz-box-flex: 1;
            -ms-flex: 1;
            flex: 1;

            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;

            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            will-change: all;

            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: transform .5s ease;

            #note-header {
                background-color: @color-grey-200;
                padding: .75rem 1rem;
                border-bottom: 1px solid @color-grey-400;

                .title {
                    float: left;
                    display: inline-block;
                    font-size: 1.3em;
                    font-weight: 500;
                }

                &:after {
                    display: block;
                    content: "";
                    clear: both;
                }

                #btn_toggle-aside {
                    float: left;
                    height: 22px;
                    display: inline-block;

                    cursor: pointer;

                    i {
                        border-radius: 3rem;
                        cursor: pointer;
                        width: 22px;
                        height: 22px;
                        font-size: 22px;
                        color: @color-grey-700;

                        will-change: background-color;

                        -webkit-transition: background-color .3s ease;
                        -moz-transition: background-color .3s ease;
                        -ms-transition: background-color .3s ease;
                        -o-transition: background-color .3s ease;
                        transition: background-color .3s ease;

                        &:hover {
                            background-color: @color-grey-300;
                        }
                    }

                    margin-right: .75rem;
                    z-index: 99999;
                }
            }

            #editor {

                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -moz-box-flex: 1;
                -ms-flex: 1;
                flex: 1;

                background-color: @color-grey-100;
                color: @color-grey-800;

                padding: 0 2rem;

                overflow: scroll;

                font-size: 1.142857em;

                p {
                    font-weight: 300;
                    margin-top: 0;
                    margin-bottom: 1.5rem;
                }

                strong {
                    font-weight: 500;
                }

                h1 {
                    line-height: 3rem;
                    margin-top: 0.75rem;
                    font-weight: 500;
                    margin-bottom: calc(1.5rem - 0.25rem);
                }

                h2 {
                    line-height: 3rem;
                    font-weight: 500;
                    margin-top: 1.25rem;
                    margin-bottom: calc(0.75rem - 0.25rem);
                }

                h3 {
                    font-size: 1.25em;
                    font-weight: 500;
                    line-height: 2.25rem;
                    margin-top: 0.75rem;
                    margin-bottom: calc(0.75rem - 0.25rem);
                }

                h4 {
                    font-size: 1em;
                    font-weight: 500;
                    margin-top: 0;
                    margin-bottom: 0.75rem;
                }

                h5 {
                    font-size: 1em;
                    font-weight: 500;
                    margin-top: 0;
                    margin-bottom: 0;
                }

                h6 {
                    display: inline-block;
                    float: left;
                    font-size: 1em;
                    font-weight: 500;
                    margin-top: 0;
                    margin-bottom: 0;
                }
                h6:after {
                    content: " :";
                    margin-right: 0.75rem;
                }

                blockquote {
                    display: block;
                    font-size: 1em;
                    font-weight: 100;
                    margin-bottom: 1.5rem;
                    border-left: 7px solid #ccc;
                    background: #f9f9f9;

                    margin-left: calc(1.5rem - 7px);
                    margin-right: 0;
                    padding: 0.75rem 1rem 0.75rem 1.3rem;
                }
                blockquote p {
                    display: inline;
                }


                .complete-memo {
                    padding: .5rem;
                    background-color: #DEDEDE;

                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;

                    padding: .75rem 1rem;
                    border: 1px solid @color-grey-300;
                }

                .globaledit-memo {
                    overflow: visible;
                    margin-top: 1.5rem;

                    textarea {
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        resize: none;
                        overflow: visible;
                        font-size: 1em;
                        font-weight: 100;
                        line-height: 180%;
                    }
                    textarea:focus {
                        outline: none;
                        border: none;
                        box-shadow: none;
                    }
                }

                .edit-memo {
                    overflow: visible;
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;

                    textarea {
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        resize: none;
                        overflow: visible;
                        font-size: 1em;
                        font-weight: 100;
                        line-height: 180%;
                    }
                    textarea:focus {
                        outline: none;
                        border: none;
                        box-shadow: none;
                    }
                }
            }
        }
        #section.hide {
            -webkit-transform: translateX(-(@memo-view-width + @directory-view-width + 2));
            -moz-transform: translateX(-(@memo-view-width + @directory-view-width + 2));
            -ms-transform: translateX(-(@memo-view-width + @directory-view-width + 2));
            -o-transform: translateX(-(@memo-view-width + @directory-view-width + 2));
            transform: translateX(-(@memo-view-width + @directory-view-width + 2));
        }
    }
}
