<!DOCTYPE html>
<html lang="ko">
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>memong</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="author" href="/humans.txt" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <header>
        <div class="header-left">
            <a id="logo" href="/">Memongade</a>
            <div id="memo-auto-saver" class="loader"></div>
        </div>
        <div class="header-right">
            <input id="memo-searcher" />
            <button>Login</button>
        </div>
    </header>
    <main>
        <aside>aside</aside>
        <section>section</section>
    </main>
</body>
</html>