/*
.app {
    display: -webkit-flex;
    display: flex;
}

.memo-viewer {
    width: 250px;
}

.editor {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    overflow: scroll;
}

.global-edit-memo {
    overflow: visible;
}

.global-edit-memo-textarea {
    width: 100%;
}


.edit-memo-textarea {
    width: 100%;
}

.memo-viewer-item-button {
    float: right;
}
.memo-viewer-edit-item {
    background-color: #E0E0E0;
}

.memo-viewer-item-button-conatiner:after {
    content: "";
    display: table;
    clear: both;
}
*/